<div class="example-flex-container">
  <button mat-raised-button color="secondary" (click)="volver()">Volver
    <mat-icon><span class="material-icons">
        chevron_left
      </span></mat-icon>
  </button>
</div>
<br>
<mat-card class="example-card">
  <mat-card-header>
    <div class="example-button-container">

      <button  (click)="irAFormNuevo()" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>add</mat-icon>

      </button>
    </div>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{titleTable}}</mat-card-title>
    <mat-card-subtitle>Listado</mat-card-subtitle>
  </mat-card-header>
 <mat-card-content>
  <table mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id_horario_cliente}} </td>
    </ng-container>



    <ng-container matColumnDef="LUNES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> LUNES </th>
      <td matTooltip="Cantidad de Horas: {{row.lunes_carga}}" mat-cell *matCellDef="let row"> {{row.LUNES}} </td>
    </ng-container>


    <ng-container matColumnDef="MARTES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MARTES </th>
      <td matTooltip="Cantidad de Horas: {{row.martes_carga}}" mat-cell *matCellDef="let row"> {{row.MARTES}} </td>
    </ng-container>

    <ng-container matColumnDef="MIERCOLES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> MIERCOLES </th>
      <td matTooltip="Cantidad de Horas: {{row.miercoles_carga}}" mat-cell *matCellDef="let row"> {{row.MIERCOLES}}
      </td>
    </ng-container>

    <ng-container matColumnDef="JUEVES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> JUEVES </th>
      <td matTooltip="Cantidad de Horas: {{row.jueves_carga}}" mat-cell *matCellDef="let row"> {{row.JUEVES}} </td>
    </ng-container>

    <ng-container matColumnDef="VIERNES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> VIERNES </th>
      <td matTooltip="Cantidad de Horas: {{row.viernes_carga}}" mat-cell *matCellDef="let row"> {{row.VIERNES}}
      </td>
    </ng-container>
    <ng-container matColumnDef="SABADO">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SABADO </th>
      <td matTooltip="Cantidad de Horas: {{row.sabado_carga}}" mat-cell *matCellDef="let row"> {{row.SABADO}} </td>
    </ng-container>


    <ng-container matColumnDef="DOMINGO">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DOMINGO </th>
      <td matTooltip="Cantidad de Horas: {{row.domingo_carga}}" mat-cell *matCellDef="let row"> {{row.DOMINGO}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ACCIONES">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ACCIONES </th>
      <td mat-cell *matCellDef="let row">
        <!--     <button mat-raised-button matTooltip="Ampliar Información" color="primary" (click)="openDialog(row)"><span
            class="material-icons">add_circle</span></button> -->
        <button mat-raised-button matTooltip="Modificar" color="warn" (click)="irAFormModificarServicio(row)"><span
            class="material-icons">edit</span></button>
        <!--  <button mat-raised-button matTooltip="Ver mes calendario" color="secondary"
          (click)="irAMesCalendarioServicios(row)"><span class="material-icons">edit_calendar</span></button> -->
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->

  </table>


  </mat-card-content>

</mat-card>

