<div class="example-flex-container">
  <button mat-raised-button color="secondary" (click)="volver()">Volver
    <mat-icon><span class="material-icons">
        chevron_left
      </span></mat-icon>
  </button>
</div>
<br>
<div class="col-6">


  <mat-card class="example-card">
    <mat-card-header>

      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title></mat-card-title>

      <p> Modificación Servicio</p>
      <h2>{{titleSingular}} {{nombre}} -  Semana: {{semana}} </h2>

      <mat-card-subtitle></mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>


      <form class="example-container" [formGroup]="this.formModificaEntidad">


        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Lunes</mat-label>
          <input type="time" matInput formControlName="hiLunes">

        </mat-form-field>


        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Lunes</mat-label>
          <input type="time" matInput formControlName="hfLunes">

                  </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Martes</mat-label>
          <input type="time" matInput formControlName="hiMartes">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Martes</mat-label>
          <input type="time" matInput formControlName="hfMartes">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Miercoles</mat-label>
          <input type="time" matInput formControlName="hiMiercoles">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Miercoles</mat-label>
          <input type="time" matInput formControlName="hfMiercoles">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Jueves</mat-label>
          <input type="time" matInput formControlName="hiJueves">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Jueves</mat-label>
          <input type="time" matInput formControlName="hfJueves">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Viernes</mat-label>
          <input type="time" matInput formControlName="hiViernes">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Viernes</mat-label>
          <input type="time" matInput formControlName="hfViernes">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Sabado</mat-label>
          <input type="time" matInput formControlName="hiSabado">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Sabado</mat-label>
          <input type="time" matInput formControlName="hfSabado">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Incio Domingo</mat-label>
          <input type="time" matInput formControlName="hiDomingo">

        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Hora Fin Domingo</mat-label>
          <input type="time" matInput formControlName="hfDomingo">

        </mat-form-field>

      </form>
      <button class="btn-block" mat-raised-button color="primary" (click)="registro()">Guardar</button>

    </mat-card-content>

  </mat-card>
</div>
