<div class="container">
  <div class="example-flex-container">
    <button mat-raised-button color="secondary" (click)="volver()">Volver
      <mat-icon><span class="material-icons">
          chevron_left
        </span></mat-icon>
    </button>
  </div>
  <br>
  <mat-card class="example-card-dialog">
    <mat-card-header>

      <div mat-card-avatar class="example-header-image"></div>
      <div class="mat-dialog-title-encabezado">
        <mat-card-title>
          <h1 mat-dialog-title>Modificar {{titleSingular}} ID: {{id}} </h1>
        </mat-card-title>
      </div>


      <mat-card-subtitle></mat-card-subtitle>

    </mat-card-header>
    <mat-card-content>

    </mat-card-content>

  </mat-card>
  <div class="main-div">


    <mat-card class="example-card">

      <mat-card-content>


        <form class="example-container" [formGroup]="this.formModificaEntidad">


          <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre">

            <mat-error *ngIf="this.formModificaEntidad.get('nombre')?.dirty">{{validaRequiredField()}}</mat-error>


          </mat-form-field>







          <mat-form-field appearance="fill">
            <mat-label>Telefono</mat-label>
            <input matInput formControlName="telefono">
            <mat-error *ngIf="this.formModificaEntidad.get('telefono')?.dirty">{{validaRequiredField()}}</mat-error>



          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email_cliente">

            <mat-error *ngIf="this.formModificaEntidad.get('email_cliente')?.dirty">{{validaEmail()}}</mat-error>

          </mat-form-field>




          <mat-form-field appearance="fill">
            <mat-label>Categoria Iva</mat-label>

            <mat-select formControlName="id_categoria_iva">
              <mat-option value=1>Responsable Inscripto</mat-option>
              <mat-option value=2>Monotributo</mat-option>

            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Cuit</mat-label>
            <input matInput formControlName="cuit">
            <mat-error *ngIf="this.formModificaEntidad.get('cuit')?.dirty">{{validaRequiredField()}}</mat-error>

          </mat-form-field>




          <mat-form-field appearance="fill">
            <mat-label>Localidad</mat-label>


            <mat-select formControlName="id_localidad">
              <mat-option value=1>Santa Fe</mat-option>
              <mat-option value=2>Cordoba</mat-option>
              <mat-option value=3>Santa Cruz</mat-option>

            </mat-select>
          </mat-form-field>


          <mat-form-field appearance="fill">
            <mat-label>Dirección</mat-label>
            <input matInput formControlName="direccion">
            <mat-error *ngIf="this.formModificaEntidad.get('direccion')?.dirty">{{validaRequiredField()}}</mat-error>

          </mat-form-field>


          <mat-checkbox *ngIf="checked" formControlName="estado" class="example-margin">Habilitado</mat-checkbox>
          <mat-checkbox *ngIf="!checked" formControlName="estado" class="example-margin">No Habilitado</mat-checkbox>




          <button class="btn-block" mat-raised-button color="primary" (click)="registro()">Modificar
            {{titleSingular}}</button>


        </form>


     </mat-card-content>

    </mat-card>
  </div>

</div>
