
.example-card-dialog {
  max-width: 650px;
  background-color: cornflowerblue;
}
.mat-dialog-title-encabezado {
 color:white;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


